@import "tailwindcss";
@config "../tailwind.config.js";

@layer utilities {
    .active{
        color: #000;
    }
    .active::before{
        content: "";
        transform: scale(1);
    }
    .animation-delay-100{
        animation-delay: 1s;
    }
    .animation-delay-200{
        animation-delay: 2s;
    }
    .animation-delay-300{
        animation-delay: 3s;
    }
    .animation-delay-400{
        animation-delay: 4s;
    }
    .animation-delay-500{
        animation-delay: 5s;
    }
    .animation-delay-600{
        animation-delay: 6s;
    }
    .animation-delay-700{
        animation-delay: 7s;
    }
    .animation-delay-800{
        animation-delay: 8s;
    }
    .animation-delay-900{
        animation-delay: 9s;
    }
}